<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMI - Enterprise Monitoring Interface</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <header class="header">
        <img src="./static/gis-seal.png" width="120" height="120" style="vertical-align:middle;horizontal-align:left;padding-bottom:16px;padding-right:2em;"/>
        <div style="display:inline-block;">
            <h1> Enterprise Monitoring Interface</h1>
        </div>

    </header>
    <main class="main-content">
        <div class="container">
            <div class="one-third">
                <section class="card" style="min-height: 50em;">
                    <h2>Navigation</h2>
                    <a href="./"><button class="btn-current-tab" style="display:block; width:100%">ArcGIS Tools</button></a>
                    <a href="records.html"><button class="btn-primary" style="display:block; width:100%">View Records</button></a>
                    <h2>External</h2>
                    <a href="https://640gis01.mercer.ad:6443/arcgis/manager/#f=Assets"><button class="btn-primary" style="display:block; width:100%">Server Manager</button></a>
                    <a href="https://mercernj.maps.arcgis.com/home/index.html"><button class="btn-primary" style="display:block; width:100%">ArcGIS Online</button></a>
                    <a href="https://maps.mercercounty.org/portal"><button class="btn-primary" style="display:block; width:100%">ArcGIS Portal</button></a>
                </section>
            </div>
            <div class="two-thirds">
                <section class="card">
                    <h2>ArcGIS Tools</h2>
                    <p>One-click tools to check ArcGIS functionalities or backup data.</p>
                    <!-- Multiple buttons for different fetches -->
                    <button class="btn-primary" id="backup-egdb">Backup EGDB layers</button>
                    <button class="btn-primary" id="backup-agol">Backup AGOL layers</button>
                    <!--button class="btn-primary" id="fetch-status">Get Portal Status</button-->
                    <button class="btn-primary" id="fetch-list">List unused layers</button>
                    <button class="btn-primary" id="fetch-user">List inactive users</button>

                </section>
                <div class="alert info" id="test-alert">Last site update: 2/10/2025<button class="btn-dismiss" id="dismiss">Dismiss</button></div>
                <div class="output" id="output"></div>

                <section class="card">
                    <div class="response" id="response"></div>
                </section>
            </div>

        </div>
        <section class="feedback">

        </section>
    </main>

    <footer class="footer">
        <p>For internal use only.</p>
    </footer>

    <script type="text/javascript" src="static/js/script.js"></script>

</body>
</html>
